test.py
*.pyc
.idea/
Legobot/*.pyc
Legobot.egg-info/
.vagrant/
dist/
tips.json
commendations.json
testing_file.tmp
Legobot/Legos/__pycache__/
Legobot/__pycache__/
Legos/
Source/
Test/.cache/
__pycache__/
